
# Project-specific folders
ckpt/
datasets/
models/
zoomldm_repo/
discard/
outputs/
outputs_test/
downloads/
logs/
site/
db.sqlite3
db.sqlite3-journal

# Byte-compiled / cache / venv
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyc
*.pyo
*.py.class
.venv
venv/
env/
env.bak/
.pdm-python
.pixi
.pdm-build/
.mypy_cache/
.dmypy.json

# Environment / secrets
.env
.envrc

# Test / coverage / packaging
.pytest_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
.eggs/
*.egg-info/
sdist/
.ropeproject
.coveragerc

# Notebook / temp
.ipynb_checkpoints
temp
logs
*.log

# Editor / IDE
.vscode/
.idea/
.cursorignore
.cursorindexingignore

# OS / misc
.DS_Store
*.bak


# Docs
docs/_build/

# Others
.Python
parts/
develop-eggs/
wheels/
target/
MANIFEST
pip-delete-this-directory.txt
pip-log.txt
marimo/_lsp/
marimo/_static/
__marimo__/
lib/
lib64/
share/python-wheels/
instance/
local_settings.py
